<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>F1 Start Timer</title>
  <link rel="icon" sizes="600x600" href="https://cdn.glitch.com/e0396011-48ac-44c9-bf55-6e11b025757d%2Fflag.png?1500283332796">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="style.css">
  <script defer src="client.js"></script>
  
  <!--
                \`*-.                    
                 )  _`-.                 
                .  : `. .                
                : _   '  \               
                ; *` _.   `*-._          
                `-.-'          `-.       
                  ;       `       `.     
                  :.       .        \    
                  . \  .   :   .-'   .   
                  '  `+.;  ;  '      :   
                  :  '  |    ;       ;-. 
                  ; '   : :`-:     _.`* ;
     [hi jake] .*' /  .*' ; .*`- +'  `*' 
               `*-*   `*-*  `*-*'        
-->
</head>
<body>

  <div class="f1-lights">
    <div class="back-board"></div>
    <div class="light-strip">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
    <div class="light-strip">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
    <div class="light-strip">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
    <div class="light-strip">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
    <div class="light-strip">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
  </div>
  
  <p>Tap/click when you're ready to race, then tap again when the lights go out.</p>
  <div class="results">
    <div class="time">00.000</div>
    <div class="best">Your best: <span>00.000</span></div>
    <div class="credit">Created by <a href="https://twitter.com/jaffathecake">@jaffathecake</a></div>
  </div>
</body>
</html>