html, body {
  margin: 0;
  font-family: sans-serif;
}

.site-title {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  background: #42ab54;
  color: #fff;
  padding: 20px;
}

.player {
  background: #eff3f4;
  position: sticky;
  bottom: 0;
}

.player audio {
  width: 100%;
}

.player::before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 10px;
  background: linear-gradient(to top, #0000001c, transparent);
  left: 0;
  right: 0;
}

.podcast {
  display: grid;
  grid-template-columns: auto 100px;
}

.podcast-titles {
  padding: 20px;
  overflow: hidden;
}

.podcast-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}